body {
  background-color: hsl(231, 15%, 18%);
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: hsl(60, 30%, 96%);
  padding: 0 10px;
}

a {
  border-bottom: 2px solid hsl(326, 100%, 74%);
  text-decoration: none;
}

a:link { color: hsl(265, 89%, 78%) }
a:visited { color: hsl(265, 89%, 78%) }
a:hover { color: hsl(265, 31%, 56%) }
a:active { color: hsl(191, 97%, 77%) }

h1, h2, h3 {
  color: hsl(191, 97%, 77%);
  line-height: 1.1;
}

.card {
  background: hsl(231, 15%, 18%);
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.16), 0 6px 6px hsla(0, 0%, 0%, 0.12);
}

ol {
  counter-reset: item;
  list-style: none;
}
ol li { counter-increment: item }
ol li:before {
  content: counter(item) ". ";
  color: hsl(31, 100%, 71%);
  display: inline-block;
  width: 2rem;
  margin-left: -2rem;
}
